.header{
    width: 100%;
    padding: 15px 0px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    color: white;
}
.chat-main{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid;
    .chat-header{
        background-color: blueviolet;
        display: flex;
        align-items: center;
        padding: 10px;
        .chat-logo{
            display: flex;
            color: white;
            align-items: center;
            .ball{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: grey;
            }
            h3{
                font-size: 1.6rem;
                margin-left: 10px;
            }
        }
    }
    .chat-body{
        min-height: 350px;
        max-height: 400px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 20px 10px 0px 10px;
        .mychat, .others{
            padding: 5px 10px;
            max-width: 70%;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
        }
        .mychat{
            align-self: flex-end;
            color: green;
            div{
                align-self: flex-end;
            }
        }
        .others{
            color: blue;
            align-self: flex-start;
            align-items: flex-start;
            // background-color: blueviolet;
        }
    }
    .chat-input-div{
        display: flex;
        align-items: center;
        height: 40px;
        border: 2px solid blueviolet;
        .chat-input{
            width: 90%;
            display: block;
            height: 100%;
            font-size: 1.3rem;
            padding-left: 10px;
        }
        .chat-btn{
            width: 100px;
            padding: 10px;
            background-color: blueviolet;
            color: white;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:750px){
    .chat-main{
        width: 70% !important;
    }
}

@media screen and (max-width:500px){
    .chat-main{
        width: 90% !important;
    }
}