.home{
    background: #ffffff;;
    width: 100vw;
    height: 100vh;
    padding: 40px 30px;
    .welcome{
        text-align: center;
    }
    .roomsDiv{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        .rooms{
            width: 20%;
            // border: 1px solid;
            min-height: 300px;
            margin-right: 30px;
            .room{
                padding: 5px 15px;
                background-color: blueviolet;
                border-radius: 10px;
                margin-bottom: 20px;
                text-align: center;
                .link{
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 1.2rem;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
        .roomForm{
            width: 25%;
            text-align: center;
            height: 200px;
            margin-top: 20px;
            .add{
                text-align: center;
                font-weight: 1.3rem;
                margin-bottom: 25px;
            }
            .may{
                border-radius: 5px;
                border: 1px solid blueviolet;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
                .roomName{
                    display: block;
                    color: #000000;
                    background: transparent;
                    padding: 5px 0px;
                    padding-left: 12px;
                    border: none;
                    width: 100%;
                    outline: none;
                }
            }
            .addBtn{
                width: 150px;
                margin: 10px auto;
                border-radius: 10px;
                margin-bottom: 20px;
                margin-top: 30px;
                color:white;
                cursor: pointer;
                padding: 5px 0px;
                text-align: center;
                background:blueviolet
            }
            .addBtn:hover{
                background-color: #6A3BB0;
             }
        }
    }
}