.home{
    background: #ffffff;
    .header{
        width: 100%;
        padding: 15px 0px;
        background-color: blueviolet;
        display: flex;
        justify-content: center;
        color: white;
    }
    .welcome{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .roomsDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 50vh;
        align-items: center;
        margin-top: 30px;
        .rooms{
            .side-hr{
                height: 300px;
                border: 1px solid;
                overflow: scroll;
            }
            .avail{
                margin-bottom: 20px;
            }
            .room{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid;
                margin-bottom: 20px;
                box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
                padding: 10px 25px;
                width: 250px;
                .link{
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-left: 15px;
                    cursor: pointer;
                }
            }
        }
        .roomForm{
            margin-top: 20px;
            .add{
                font-weight: 1.3rem;
                margin-bottom:10px;
            }
            .flexForm{
                display: flex;
                margin-bottom: 40px;
                .may{
                    border-radius: 5px;
                    border: 1px solid blueviolet;
                    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
                    .roomName{
                        display: block;
                        color: #000000;
                        background: transparent;
                        padding: 5px 0px;
                        padding-left: 12px;
                        border: none;
                        width: 100%;
                        outline: none;
                    }
                }
            }
            .addBtn{
                width: 100px;
                margin-left: 10px;
                border-radius: 10px;
                color:white;
                cursor: pointer;
                padding: 5px 0px;
                text-align: center;
                background:blueviolet
            }
            .addBtn:hover{
                background-color: #6A3BB0;
             }
        }
    }
}