.signIn{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .talk{
        text-align: center;
        margin-top: 50px;
        color: #000000;
        font-weight: bold;
    }
    .border{
        margin: 20vh auto;
        width: 250px;
        height: 250px;
    }
    .signIn-card{
        position: relative;
        border: 1px solid blueviolet;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
            .logTxt{
                position: absolute;
                left: -50px;
                top: -20px;
                background-color: blueviolet;
                color: white;
                text-align: center;
                width: 150px;
                transform: rotate(-25deg);
            }
            .inputs-reg{
                margin-top: 50px;
                padding: 10px;
                .text-input-reg, .password-input-reg{
                    margin: 0 auto;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    border: 1px solid blueviolet;
                    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
                }
                .text-input-reg input, .password-input-reg input{
                    display: block;
                    color: #000000;
                    background: transparent;
                    padding: 5px 0px;
                    padding-left: 10px;
                    border: none;
                    width: 100%;
                    outline: none;
                }
            }
            .login-btn{
                width: 150px;
                margin: 10px auto;
                border-radius: 10px;
                margin-bottom: 20px;
                color:white;
                font-weight: bold;
                cursor: pointer;
                padding: 5px 0px;
                text-align: center;
                background:blueviolet
            }
            .login-btn:hover{
                background-color: #6A3BB0;
             }
           
    }
}
