.signIn{
    .signIn-card{
        max-width: 250px;
            .inputs{
                padding: 10px;
                .text-input, .password-input{
                    margin: 0 auto;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    border: 1px solid blueviolet;
                    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
                }
                .text-input input, .password-input input{
                    display: block;
                    color: #000000;
                    background: transparent;
                    padding: 5px 0px;
                    padding-left: 10px;
                    border: none;
                    width: 100%;
                    outline: none;
                }
            }

    }
}
.text-input{
    margin-top: 60px !important;
}
.account{
    color: blueviolet;
        .h3{
            cursor: pointer;
            text-align: center;
        }
}
.text-input-name{
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 5px;
    border: 1px solid blueviolet;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}