.signIn {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.signIn .talk {
  text-align: center;
  margin-top: 50px;
  color: white;
  font-weight: bold;
}

.signIn .border {
  margin: 20vh auto;
  width: 250px;
  height: 250px;
}

.signIn .signIn-card {
  position: relative;
  border: 1px solid blueviolet;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.signIn .signIn-card .logTxt {
  position: absolute;
  left: -50px;
  top: -20px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  width: 150px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.signIn .signIn-card .inputs {
  padding: 10px;
}

.signIn .signIn-card .inputs .text-input, .signIn .signIn-card .inputs .password-input {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid blueviolet;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.signIn .signIn-card .inputs .text-input input, .signIn .signIn-card .inputs .password-input input {
  display: block;
  color: #000000;
  background: transparent;
  padding: 5px 0px;
  padding-left: 10px;
  border: none;
  width: 100%;
  outline: none;
}

.signIn .signIn-card .login-btn {
  width: 150px;
  margin: 10px auto;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  padding: 5px 0px;
  text-align: center;
  background: blueviolet;
}

.signIn .signIn-card .login-btn:hover {
  background-color: #6A3BB0;
}

.text-input {
  margin-top: 60px !important;
}

.account {
  color: blueviolet;
}

.account .h3 {
  cursor: pointer;
}

.text-input-name {
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 5px;
  border: 1px solid blueviolet;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.home {
  background: #ffffff;
}

.home .header {
  width: 100%;
  padding: 15px 0px;
  background-color: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.home .welcome {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .roomsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.home .roomsDiv .rooms .side-hr {
  height: 300px;
  border: 1px solid;
  overflow: scroll;
}

.home .roomsDiv .rooms .avail {
  margin-bottom: 20px;
}

.home .roomsDiv .rooms .room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  padding: 10px 25px;
  width: 250px;
}

.home .roomsDiv .rooms .room .link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
}

.home .roomsDiv .roomForm {
  margin-top: 20px;
}

.home .roomsDiv .roomForm .add {
  font-weight: 1.3rem;
  margin-bottom: 10px;
}

.home .roomsDiv .roomForm .flexForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.home .roomsDiv .roomForm .flexForm .may {
  border-radius: 5px;
  border: 1px solid blueviolet;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.home .roomsDiv .roomForm .flexForm .may .roomName {
  display: block;
  color: #000000;
  background: transparent;
  padding: 5px 0px;
  padding-left: 12px;
  border: none;
  width: 100%;
  outline: none;
}

.home .roomsDiv .roomForm .addBtn {
  width: 100px;
  margin-left: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 5px 0px;
  text-align: center;
  background: blueviolet;
}

.home .roomsDiv .roomForm .addBtn:hover {
  background-color: #6A3BB0;
}

.signIn {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.signIn .talk {
  text-align: center;
  margin-top: 50px;
  color: #000000;
  font-weight: bold;
}

.signIn .border {
  margin: 20vh auto;
  width: 250px;
  height: 250px;
}

.signIn .signIn-card {
  position: relative;
  border: 1px solid blueviolet;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.signIn .signIn-card .logTxt {
  position: absolute;
  left: -50px;
  top: -20px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  width: 150px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.signIn .signIn-card .inputs-reg {
  margin-top: 50px;
  padding: 10px;
}

.signIn .signIn-card .inputs-reg .text-input-reg, .signIn .signIn-card .inputs-reg .password-input-reg {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid blueviolet;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.signIn .signIn-card .inputs-reg .text-input-reg input, .signIn .signIn-card .inputs-reg .password-input-reg input {
  display: block;
  color: #000000;
  background: transparent;
  padding: 5px 0px;
  padding-left: 10px;
  border: none;
  width: 100%;
  outline: none;
}

.signIn .signIn-card .login-btn {
  width: 150px;
  margin: 10px auto;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  padding: 5px 0px;
  text-align: center;
  background: blueviolet;
}

.text-input {
  margin-top: 60px !important;
}

.account {
  color: blueviolet;
}

.account .h3 {
  cursor: pointer;
}

.header {
  width: 100%;
  padding: 15px 0px;
  background-color: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.chat-main {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid;
}

.chat-main .chat-header {
  background-color: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.chat-main .chat-header .chat-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-main .chat-header .chat-logo .ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
}

.chat-main .chat-header .chat-logo h3 {
  font-size: 1.6rem;
  margin-left: 10px;
}

.chat-main .chat-body {
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 0px 10px;
}

.chat-main .chat-body .mychat, .chat-main .chat-body .others {
  width: 70px;
  border: 1px solid;
}

.chat-main .chat-body .mychat {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.chat-main .chat-body .others {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chat-main .chat-input-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border: 2px solid blueviolet;
}

.chat-main .chat-input-div .chat-input {
  width: 90%;
  display: block;
  height: 100%;
  font-size: 1.3rem;
  padding-left: 10px;
}

.chat-main .chat-input-div .chat-btn {
  width: 100px;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .chat-main {
    width: 70% !important;
  }
}

@media screen and (max-width: 500px) {
  .chat-main {
    width: 90% !important;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=main.css.map */