.signIn {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.signIn .talk {
  text-align: center;
  margin-top: 50px;
  color: white;
  font-weight: bold;
}

.signIn .border {
  margin: 20vh auto;
  width: 250px;
  height: 250px;
}

.signIn .signIn-card {
  position: relative;
  border: 1px solid blueviolet;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.signIn .signIn-card .logTxt {
  position: absolute;
  left: -50px;
  top: -20px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  width: 150px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.signIn .signIn-card .inputs {
  padding: 10px;
}

.signIn .signIn-card .inputs .text-input, .signIn .signIn-card .inputs .password-input {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid blueviolet;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.signIn .signIn-card .inputs .text-input input, .signIn .signIn-card .inputs .password-input input {
  display: block;
  color: white;
  background: transparent;
  padding: 5px 0px;
  padding-left: 10px;
  border: none;
  width: 100%;
  outline: none;
}

.signIn .signIn-card .login-btn {
  width: 150px;
  margin: 10px auto;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  padding: 5px 0px;
  text-align: center;
  background: blueviolet;
}

.signIn .signIn-card .login-btn:hover {
  background-color: #6A3BB0;
}

.text-input {
  margin-top: 60px !important;
}

.account {
  color: blueviolet;
}

.account .h3 {
  cursor: pointer;
}

.text-input-name {
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 5px;
  border: 1px solid blueviolet;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.home {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4f4e4c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-main {
  width: 50vw;
}

.home .home-main .compare-div {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .home-main .compare-div div input[type='text'] {
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
  margin-bottom: 20px;
  outline: none;
  color: #4f4e4c;
  display: block;
}

.home .home-main .compare-div div input[type='file'] {
  display: none;
}

.home .home-main .compare-div .label {
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  cursor: pointer;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.home .home-main .compare-div .label:hover {
  color: #212121;
}

.home .home-main .compare-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

.home .home-main .compare-btn div {
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 5px 10px;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

.home .home-main .compare-btn div:hover {
  color: #212121;
}

.home .home-main .error {
  margin-top: 20px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  color: red;
  font-weight: bold;
  padding: 5px 0px;
  text-align: center;
}

.home .home-main .result-div {
  text-align: center;
}

.home .home-main .result-div .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  color: black;
  border-radius: 50%;
  margin-top: 10px !important;
}

@media screen and (max-width: 750px) {
  .home-main {
    width: 70vw !important;
  }
  .compare-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 300px !important;
  }
  .compare-btn {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    margin-left: 0 !important;
    width: 70% !important;
  }
}

@media screen and (max-width: 440px) {
  .home-main {
    width: 90vw !important;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .compare-btn {
    margin: 0 auto !important;
    margin-top: 30px !important;
  }
}

.signIn {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.signIn .talk {
  text-align: center;
  margin-top: 50px;
  color: white;
  font-weight: bold;
}

.signIn .border {
  margin: 20vh auto;
  width: 250px;
  height: 250px;
}

.signIn .signIn-card {
  position: relative;
  border: 1px solid blueviolet;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.signIn .signIn-card .logTxt {
  position: absolute;
  left: -50px;
  top: -20px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  width: 150px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.signIn .signIn-card .inputs-reg {
  margin-top: 50px;
  padding: 10px;
}

.signIn .signIn-card .inputs-reg .text-input-reg, .signIn .signIn-card .inputs-reg .password-input-reg {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid blueviolet;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.signIn .signIn-card .inputs-reg .text-input-reg input, .signIn .signIn-card .inputs-reg .password-input-reg input {
  display: block;
  color: white;
  background: transparent;
  padding: 5px 0px;
  padding-left: 10px;
  border: none;
  width: 100%;
  outline: none;
}

.signIn .signIn-card .login-btn {
  width: 150px;
  margin: 10px auto;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  padding: 5px 0px;
  text-align: center;
  background: blueviolet;
}

.signIn .signIn-card .login-btn:hover {
  background-color: #6A3BB0;
}

.text-input {
  margin-top: 60px !important;
}

.account {
  color: blueviolet;
}

.account .h3 {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */